extends layouts/main.pug
include mixins/videoBlock

block content
    .homeVideos
        each video in videosDB
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })

                .homeVideos
        each video in videosDB
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })    .homeVideos
        each video in videosDB
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })    .homeVideos
        each video in videosDB
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })    .homeVideos
        each video in videosDB
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })    .homeVideos
        each video in videosDB
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })

